html, body {
    width: 100%;
    height: 100%;
}

#logo {
    max-width: 100px;
    margin-top: 7px;
}

.navbar-inverse {
    background-color: #333333;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>.active>a {
    background-color: #333333;
}