{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="text-align:center;">
    <h1>About Us</h1>
    <p>We are a group of friends from RIT! We created Chalk because we wanted a scheduler that could help us decide on how to prioritize our daily and weekly tasks. Also, we wanted to use a topological sort for funsies.</p>
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Orens Xhagolli</div>   
        <div class="col-xs-6" style="background-color:lavenderblush;"><em>Second year computer science student at RIT.</em></div>
    </div>
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-6" style="background-color:lavenderblush; text-align:right;"><em>Victoria is also a second year cs student at RIT.</em></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Victoria Sardelli</div>
    </div>
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Matthew Ku</div>
        <div class="col-xs-6" style="background-color:lavenderblush;"><em>Matthew ... this guy... he's also a second year cs major. he also really likes snacks.</em></div>
    </div>
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-6" style="background-color:lavenderblush; text-align:right;"><em>Calls himself a writer of both programming and natural languages.
        Spends his free time practicing his magic with playing cards and creating stories.
        Expressed his dormant artsy side by helping out with the design of this project.
        Has a soft spot for unicorns.</em></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Gregory Goh</div>
    </div>
</div>
{% endblock %}