{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="text-align:center; width: 80%;">
    <h1>About Us</h1>
    <p>We are a group of friends from RIT! We created Chalk because we wanted a scheduler that could help us decide on how to prioritize our daily and weekly tasks.</p>
    <p>Also, we wanted to use a topological sort for funsies.</p>
    <div class="row" style="margin-bottom:5%; margin-top:5%;">
        <div class="col-xs-2"></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Orens Xhagolli</div>   
        <div class="col-xs-6"><em>Second year computer science student at RIT. Works hard at everything he does. Likes to take naps.</em></div>
    </div>
    <div class="row" style="margin-bottom:5%;">
        <div class="col-xs-2"></div>
        <div class="col-xs-6" style="text-align:right;"><em>She absolutely loves to study Japanese, work on fun programming projects, and read mystery/suspense novels!
            Well, she doesn't care too much about book genre as long as it's a good story. She also likes to learn new things to make cool, new stuff...and she likes to be vague because she's bad at self-introductions. :D</em></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Victoria Sardelli</div>
    </div>
    <div class="row" style="margin-bottom:5%;">
        <div class="col-xs-2"></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Matthew Ku</div>
        <div class="col-xs-6"><em>Prefers to be a backend coder but would not mind to learn some frontend.
            Enjoys video games once in a while and would like to make one some day. Likes ceramics but
            does not get to work with it often.</em></div>
    </div>
    <div class="row" style="margin-bottom:5%;">
        <div class="col-xs-2"></div>
        <div class="col-xs-6" style="text-align:right;"><em>Calls himself a writer of both programming and natural languages.
        Spends his free time practicing his magic with playing cards and creating stories.
        Expressed his dormant artsy side by helping out with the design of this project.
        Has a soft spot for unicorns.</em></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Gregory Goh</div>
    </div>
</div>
{% endblock %}